
.inks-root {
  display: flex;
  flex-direction: column;
  overflow: hidden;
  padding: 4px;
}

.inks-title{
  text-align: center;
  flex: 1 0;
  padding: 16px;
  font-size: 20px;
}

.inks-footer {
  margin-left: -8px;
}

.inks-grid {
  --Grid-Columns: 12;
  --Grid-RowSpacing: 8px;
  --Grid-ColumnSpacing: 32px;

  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;

  flex-direction: row;

  flex-wrap: wrap;

  min-width: 0;
  box-sizing: border-box;
}

.inks-grid-item {
  flex-basis: auto;
  flex-grow: 0;
  padding: calc(var(--Grid-RowSpacing) / 2) calc(var(--Grid-ColumnSpacing) / 2);
}

.inks-field {
  display: flex;
  flex-direction: row;
}

.inks-field-label {
}

.inks-field-value{
  margin-left: 16px;
}

.inks-span-1 {
  width: calc(100% * 1 / var(--Grid-Columns));
}
.inks-span-2 {
  width: calc(100% * 2 / var(--Grid-Columns));
}
.inks-span-3 {
  width: calc(100% * 3 / var(--Grid-Columns));
}
.inks-span-4 {
  width: calc(100% * 4 / var(--Grid-Columns));
}
.inks-span-5 {
  width: calc(100% * 5 / var(--Grid-Columns));
}
.inks-span-6 {
  width: calc(100% * 6 / var(--Grid-Columns));
}
.inks-span-7 {
  width: calc(100% * 7 / var(--Grid-Columns));
}
.inks-span-8 {
  width: calc(100% * 8 / var(--Grid-Columns));
}
.inks-span-9 {
  width: calc(100% * 9 / var(--Grid-Columns));
}
.inks-span-10 {
  width: calc(100% * 10 / var(--Grid-Columns));
}
.inks-span-11 {
  width: calc(100% * 11 / var(--Grid-Columns));
}
.inks-span-12 {
  width: calc(100% * 12 / var(--Grid-Columns));
}

.inks-table {
  --Border-Props: 0.8px solid #bbb;
  margin: 8px 0;
  padding: 0;
  text-align: left;
  border-spacing: 0;

  border-top: var(--Border-Props);
  border-left: var(--Border-Props);
}


.inks-table-head {
}
.inks-table-body{
}
.inks-table-foot{
}

.inks-table-row {
}

.inks-cell {
  padding: 8px 4px;
  margin: 0;
  border-right: var(--Border-Props);
  border-bottom: var(--Border-Props);
}

