
.inks-root {
  display: flex;
  flex-direction: column;
  overflow: hidden;
  padding: 4px;
  font-size: 14pt;
}

.inks-root > #title {
  text-align: center;
  flex: 1 0;
  padding: 16px;
  font-size: 28pt;
}

.inks-root > #footer {
  margin: 0;
}

.inks-root > #footer > .inks-grid-item {
  padding: 0;
}

.inks-box {
  display: flex;
  flex-direction: row;
  column-gap: 3em;
}

.inks-grid {
  --Grid-Columns: 24;
  --Grid-RowSpacing: 8px;
  --Grid-ColumnSpacing: 8px;

  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;

  flex-direction: row;

  flex-wrap: wrap;

  min-width: 0;
  box-sizing: border-box;
}

.inks-grid-item {
  flex-basis: auto;
  flex-grow: 0;
  padding: calc(var(--Grid-RowSpacing) / 2) calc(var(--Grid-ColumnSpacing) / 2);
  box-sizing: border-box;
}

.inks-pair {
  display: flex;
  flex-direction: row;
}

.inks-pair-label {
}

.inks-pair-value{
  margin-left: 0.5em;
}

.inks-span-0 {
  width: 0;
}
.inks-span-1 {
  width: calc(100% * 1 / var(--Grid-Columns));
}
.inks-span-2 {
  width: calc(100% * 2 / var(--Grid-Columns));
}
.inks-span-3 {
  width: calc(100% * 3 / var(--Grid-Columns));
}
.inks-span-4 {
  width: calc(100% * 4 / var(--Grid-Columns));
}
.inks-span-5 {
  width: calc(100% * 5 / var(--Grid-Columns));
}
.inks-span-6 {
  width: calc(100% * 6 / var(--Grid-Columns));
}
.inks-span-7 {
  width: calc(100% * 7 / var(--Grid-Columns));
}
.inks-span-8 {
  width: calc(100% * 8 / var(--Grid-Columns));
}
.inks-span-9 {
  width: calc(100% * 9 / var(--Grid-Columns));
}
.inks-span-10 {
  width: calc(100% * 10 / var(--Grid-Columns));
}
.inks-span-11 {
  width: calc(100% * 11 / var(--Grid-Columns));
}
.inks-span-12 {
  width: calc(100% * 12 / var(--Grid-Columns));
}
.inks-span-13 {
  width: calc(100% * 13 / var(--Grid-Columns));
}
.inks-span-14 {
  width: calc(100% * 14 / var(--Grid-Columns));
}
.inks-span-15 {
  width: calc(100% * 15 / var(--Grid-Columns));
}
.inks-span-16 {
  width: calc(100% * 16 / var(--Grid-Columns));
}
.inks-span-17 {
  width: calc(100% * 17 / var(--Grid-Columns));
}
.inks-span-18 {
  width: calc(100% * 18 / var(--Grid-Columns));
}
.inks-span-18 {
  width: calc(100% * 18 / var(--Grid-Columns));
}
.inks-span-19 {
  width: calc(100% * 19 / var(--Grid-Columns));
}
.inks-span-20 {
  width: calc(100% * 20 / var(--Grid-Columns));
}
.inks-span-21 {
  width: calc(100% * 21 / var(--Grid-Columns));
}
.inks-span-22 {
  width: calc(100% * 22 / var(--Grid-Columns));
}
.inks-span-23 {
  width: calc(100% * 23 / var(--Grid-Columns));
}
.inks-span-24 {
  width: calc(100% * 24 / var(--Grid-Columns));
}

.inks-table {
  --Border-Props: 0.8px solid #bbb;
  margin: 8px 0;
  padding: 0;
  text-align: left;
  border-spacing: 0;
  border-collapse: collapse;
  border: var(--Border-Props);
}


.inks-table-head {
}
.inks-table-body{
}
.inks-table-foot{
}

.inks-table-row {
}

.inks-cell {
  padding: 8px 4px;
  margin: 0;
  border: var(--Border-Props);
}

